a {
    text-decoration-line: none;
    color : black;
}

.card-text-viewcount {
    margin-top: 0.5rem;
    font-size: small;
}

.card-image {
    height: 60rem;
    /* 이미지 조절 */
    object-fit: cover;
}

h3 {
  font-weight: 1000;
  margin-bottom: 8rem;
}

.model-image {
  width: 39rem;
  height: 50rem;
  object-fit: cover;
}

.coordination_content {
  /* width: 100px; */
}

.content_text {
  width: 8rem;
}