#wrapper {
  padding: 50px;
}
#price-info {
  padding-top: 140px;
  padding-bottom: 140px;
  padding-left: 30px;
  padding-right: 30px;
}
#item-size {
  margin-top: 30px;
  margin-bottom: 30px;
}
#total-price {
  padding-top: 25px;
  padding-bottom: 25px;
}
#total-price > span {
  right: 0%;
}
#add2cart,
#buynow {
  width: 55%;
}
#review > div > div {
  font-size: large;
}
#review > div + div {
  font-weight: 700;
}
#review-rate {
  margin-top: 100px;
}
#star {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
.rate {
  font-size: 15px;
  color: gray;
}

.progressbar {
  appearance: none;
}
.progressbar::-webkit-progress-bar {
  background: #f0f0f0;
  border-radius: 10px;
  box-shadow: inset 3px 3px 10px #f0f0f0;
}
.progressbar::-webkit-progress-value {
  border-radius: 10px;
  background: yellow;
  background: -webkit-linear-gradient(to right, #818181, #818181);
  background: linear-gradient(to right, #818181, #818181);
}
.image {
  height: 50rem;
  /* 이미지 조절 */
  object-fit: cover;
}
select {
  border: 0;
  outline: none;
  appearance: none;
}

#left-column a {
  text-decoration-line: none;
  color: black;
}
#left-column {
  width: 13%;
}
