table td a {
  display: block;
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
}

table {
  border-top: 1px solid black;
}

a > :hover {
  color: black;
}

#head {
  padding: 0.5rem;
  padding-bottom: 1rem;
}

#category a {
  color: black;
  text-decoration: none;
  padding: 0.5rem;
}

main {
  margin-top: 60px;
}
.page-link {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}

.page-item.active .page-link {
  z-index: 1;
  color: #555;
  font-weight: 900;
  background-color: #f1f1f1;
  border-color: #ccc;
}

.page-link:focus,
.page-link:hover {
  color: #000;
  background-color: #fafafa;
  border-color: #ccc;
}
.pagination a {
  border: 0px;
}
#search > input {
  font-size: 15px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  padding-left: 10px;
  background-color: rgb(255, 255, 255);
}

#pagination {
  margin-bottom: 15%;
}

#head a {
  color: black;
  text-decoration: none;
}
