a {
    text-decoration-line: none;
    color : black;
}

.card-image-top {
    height: 30rem;
    object-fit: cover;
}
.card-image {
    height: 60rem;
    /* 이미지 조절 */
    object-fit: cover;
}

.mainImg1 {
    height: 40rem;
    width: 100%;
    object-fit: cover;

}

.main1_width {
    width: 40%;
    /* margin-right: 2.5rem; */
}

.main2_width {
    width: 30%;
}

.mainImg_parent {
    position: relative;
}

.mainImg2 {
    width: 100%;
    height: 40rem;
    object-fit: cover;
}


.mainImg1_text {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    transform: translate( -50%, -50% );
    color: white;
}

.carousel-control-prev, .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}